{% extends 'base.html.twig' %}

{% block title %}Edit Paiments{% endblock %}

{% block body %}
    <h1>Edit Paiments</h1>

    {{ include('paiments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paiments_index') }}">back to list</a>

    {{ include('paiments/_delete_form.html.twig') }}
{% endblock %}
