{% extends 'base.html.twig' %}

{% block title %}New Paiments{% endblock %}

{% block body %}
    <h1>Create new Paiments</h1>

    {{ include('paiments/_form.html.twig') }}

    <a href="{{ path('app_paiments_index') }}">back to list</a>
{% endblock %}
