{% extends 'base.html.twig' %}

{% block title %}Edit Enchainements{% endblock %}

{% block body %}
    <h1>Edit Enchainements</h1>

    {{ include('enchainements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_enchainements_index') }}">back to list</a>

    {{ include('enchainements/_delete_form.html.twig') }}
{% endblock %}
